html {
  // See https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile.
  height: 100%;
}

a {
  outline: none;
}

a,
a:link,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}
