:root {
  --viewport-height: 100%;
}

html,
body {
  // See https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
  height: 100vh;

  @media not all and (hover:hover) {
    height: var(--viewport-height);
  }
}

html {
  // See https://developer.chrome.com/blog/300ms-tap-delay-gone-away/
  touch-action: none;
}

a {
  outline: none;
}

a,
a:link,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

h1,
h2 {
  font-size: inherit;
}
