<footer class="footer__root">
  <ul class="footer__colors">
    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FFF; --shadow: rgba(0, 0, 0, .125); " title="White (#FFF)" aria-label="White (#FFF)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FFFF00; --shadow: rgba(255, 200, 0, .75); " title="Yellow (#FF0)" aria-label="Yellow (#FF0)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FF00FF; --shadow: rgba(255, 0, 255, .5); " title="Magenta (#F0F)" aria-label="Magenta (#F0F)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #0000FF; --shadow: rgba(0, 0, 255, .5); " title="Blue (#00F)" aria-label="Blue (#00F)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample footer__sample--isCurrent" style="--bg: #000000; --shadow: rgba(0, 0, 0, .5); " title="Black (#000)" aria-label="Black (#000)"></button>
    </li>

    <li class="footer__item footer__item--right">
      <button class="footer__sample" style="--bg: #FFFFFF; --shadow: rgba(255, 0, 0, .25); --color: #F00;" title="Clear" aria-label="Clear" data-action="reset">
        <svg class="footer__symbol" aria-hidden="true" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" />
        </svg>
      </button>
    </li>
  </ul>
</footer>
