<footer class="footer__root">
  <ul class="footer__colors">
    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FFFFFF; --shadow: rgba(0, 0, 0, .125); " title="White (#FFF)" aria-label="White (#FFF)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FFFF00; --shadow: rgba(255, 200, 0, .75); " title="Yellow (#FF0)" aria-label="Yellow (#FF0)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #FF00FF; --shadow: rgba(255, 0, 255, .5); " title="Magenta (#F0F)" aria-label="Magenta (#F0F)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample" style="--bg: #0000FF; --shadow: rgba(0, 0, 255, .5); " title="Blue (#00F)" aria-label="Blue (#00F)"></button>
    </li>

    <li class="footer__item">
      <button class="footer__sample footer__sample--isCurrent" style="--bg: #000000; --shadow: rgba(0, 0, 0, .5); " title="Black (#000)" aria-label="Black (#000)"></button>
    </li>
  </ul>

  <a href="https://danielsheldon.co.za/" target="_blank" rel="noopener" class="footer__note footer__attribution" hidden>
    <span class="footer__attributionByName">By Daniel</span>
    <span class="footer__attributionSurname">Sheldon</span>
  </a>

  <!--
    This elements will appear on the page when I'm looking for a new adventure, so if you can see these on the page
    and need someone to join your amazing team, get in touch NOW!

    If this is hidden, it means I'm not looking for a change. However, if you are reading this, dude... You are worthy!
    Feel free to reach out anyway and let me know you have read this, you never know, right...?
  -->

  <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="footer__note footer__hiring">
    Hiring?
  </a>

</footer>
