<main class="content__root">
  <header class="content__warningHeader" hidden aria-hidden="true">
    <h1 class="content__title">
      <strong class="content__name">Oops</strong>

      <div class="content__role">It looks like you are using a crappy browser... UNCOOL.</div>
    </h1>

    <p class="content__p">So... Get the f**k off my site!</p>

    <figure class="content__videoFigure">
      <div class="content__videoPlaceholder"></div>
      <figcaption class="content__videoDescription">Scene from <a href="https://www.youtube.com/watch?v=XwMz7Bz-T68" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Gran Torino's</span></a> trailer.</figcaption>
    </figure>

    <p class="content__p">Ok... You can check out my public profiles anyway:</p>
  </header>

  <header class="content__regularHeader">
    <h1 class="content__title">
      <strong class="content__name">Dani Gámez Franco</strong>
      <div class="content__role">
        Lead Full-Stack Software Engineer / Architect,
        Summa Cum Laude Computer Science Engineer,
        Top 1.5% at StackOverflow
      </div>
    </h1>

    <p class="content__p">JS, TS, React, Next.js, Node.js, Python, PostgreSQL, AI</p>
  </header>

  <section class="content__links">
    <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">LinkedIn</span></a>
    <a href="https://stackoverflow.com/users/3723993/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Stack&nbsp;Overflow</span></a>
    <a href="https://github.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">GitHub</span></a>
    <a href="https://www.npmjs.com/~danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">NPM</span></a>
    <a href="dani-gamez-franco-cv-2023.12.21.pdf" target="_blank" rel="noopener" class="link__root"><span class="link__underline">CV</span></a>
    <!--
    <a href="https://www.quora.com/profile/Dani-Gámez-Franco" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Quora</span></a>
    <a href="https://speakerdeck.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Speaker&nbsp;Deck</span></a>
    -->
  </section>
</main>
