<main class="content__root">
  <header class="content__warningHeader" hidden aria-hidden="true">
    <h1 class="content__title">
      <strong class="content__name">Oops</strong>

      <div class="content__role">It looks like you are using a crappy browser... UNCOOL.</div>
    </h1>

    <p class="content__p">So... Get the f**k off my site!</p>

    <figure class="content__videoFigure">
      <div class="content__videoPlaceholder"></div>
      <figcaption class="content__videoDescription">Scene from <a href="https://www.youtube.com/watch?v=XwMz7Bz-T68" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Gran Torino's</span></a> trailer.</figcaption>
    </figure>

    <p class="content__p">Ok... You can check out my public profiles anyway:</p>
  </header>

  <header class="content__regularHeader">
    <h1 class="content__title">
      <strong class="content__name">Dani Gámez Franco</strong>
      <div class="content__role">
        Lead Full-Stack Engineer / Architect & Former CTO,
        Summa Cum Laude Computer Science Engineer at <a href="https://www.uab.cat/en/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">UAB</span></a>,
        Entrepreneur, Remote Work Advocate
      </div>
    </h1>

    <p class="content__p">JS, TS, React, Next.js, AWS, Node.js, Rust, MongoDB, Web3</p>
  </header>

  <section class="content__links">
    <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">LinkedIn</span></a>
    <a href="https://stackoverflow.com/users/3723993/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Stack&nbsp;Overflow</span></a>
    <a href="https://github.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">GitHub</span></a>
    <a href="https://www.npmjs.com/~danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">NPM</span></a>
    <a href="https://www.quora.com/profile/Dani-Gámez-Franco" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Quora</span></a>
    <a href="https://speakerdeck.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Speaker&nbsp;Deck</span></a>
    <a href="dani-gamez-franco-cv-2023.07.11.pdf" target="_blank" rel="noopener" class="link__root"><span class="link__underline">CV</span></a>
  </section>

  <!--
    These elements will appear on the page when I'm not happy at my current job and start looking or start considering
    looking for a new adventure, so if you can see these on the page and need someone to join your amazing team, get in
    touch NOW! If these are commented out, it means I'm not looking for a change. However, if you are reading this,
    dude... You are worthy! Feel free to reach out anyway and let me know you have read this, you never know, right...?
  -->

  <!--
  <div class="content__hiringLinks">
    <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="link__root">
      <span class="link__underline link__underline--hidden">Hiring? 😏</span>
    </a>

    <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="link__root">
      <span class="link__underline link__underline--hidden">Get in touch! 👆</span>
    </a>
  </div>
  -->
</main>
