<main class="content__root">
  <header class="content__warningHeader" hidden aria-hidden="true">
    <h1 class="content__title">
      <strong class="content__name">Oops</strong>

      <div class="content__role">It looks like you are using a crappy browser... UNCOOL.</div>
    </h1>

    <p class="content__p">So... Get the f**k off my site!</p>

    <div class="content__imageContainer">
      <picture id="torino-1" class="content__picture" style="padding-bottom: 40%; ">
        <img class="content__img" src="gifs/get-off-my-lawn-gran-torino.gif" alt="Get off my lawn scene from Gran Torino" />
      </picture>

      <picture id="torino-2" class="content__picture" style="padding-bottom: 41.8%; ">
        <img class="content__img" src="gifs/gran-torino-finger-gun.gif" alt="Finger gun scene from Gran Torino" />
      </picture>
    </div>

    <p class="content__p">You can check out my other profiles:</p>
  </header>

  <header class="content__regularHeader">
    <h1 class="content__title">
      <strong class="content__name">Dani Gámez Franco</strong>

      <div class="content__role">
        CTO & Co-Founder at <a href="https://www.bravalab.com" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Brava&nbsp;Lab</span></a>,
        Lead Frontend Architect at <a href="https://www.medanswers.com/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">MedAnswers</span></a>,
        Summa Cum Laude Computer Science Engineer at <a href="https://www.uab.cat/en/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">UAB</span></a>,
        Entrepreneur
      </div>
    </h1>

    <p class="content__p">JS, TS, React, NodeJS, Python, Go, MongoDB, AWS, AI/ML</p>
  </header>

  <section class="content__links">
    <a href="https://www.linkedin.com/in/danigamezfranco/" target="_blank" rel="noopener" class="link__root"><span class="link__underline">LinkedIn</span></a>
    <a href="https://stackoverflow.com/users/3723993/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Stack&nbsp;Overflow</span></a>
    <a href="https://github.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">GitHub</span></a>
    <a href="https://www.quora.com/profile/Dani-Gámez-Franco" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Quora</span></a>
    <a href="https://speakerdeck.com/danziger" target="_blank" rel="noopener" class="link__root"><span class="link__underline">Speaker&nbsp;Deck</span></a>
    <a href="dani-gamez-franco-cv-2020.01.06.pdf" target="_blank" rel="noopener" class="link__root"><span class="link__underline">CV</span></a>
  </section>
</main>
