<div class="cursor__root" style="transform: translate(-128px, -128px); ">
  <div class="cursor__rulerHorizontalPrimary"></div>
  <div class="cursor__rulerHorizontalSecondary"></div>

  <div class="cursor__rulerVerticalPrimary"></div>
  <div class="cursor__rulerVerticalSecondary"></div>

  <div class="cursor__brush"></div>

  <div class="cursor__position">0, 0</div>
</div>
