<div class="dropZone__root" hidden>
  <p><strong>Drop an image to upload.</strong></p>
</div>

<div class="dropZone__root dropZone--hasError" hidden>
  <p><strong>Invalid file.</strong></p>

  <p>Try again with a different image or image type (e.g. PNG, JPG...).</p>

  <button class="dropZone__closeErrorButton">
    Close
  </button>
</div>
