<nav class="nav__root">
  <a class="link__root nav__logoLink" href="https://gmzcodes.com">
    <img class="nav__logoImg" src="logo/gmzcodes-t-e-64.png" aria-hidden="true" />
    <span class="link__underline link__underline--hidden nav__underline">GMZcodes</span>
    <span class="link__linkEffect nav__linkEffect" aria-hidden="true">GMZcodes</span>
  </a>

  <button
    id="magicWandButton"
    class="nav__button">
    <img class="nav__buttonIcon" src="icons/magic-wand-t-e-32.gif" />
  </button>

  <a class="nav__button" target="_blank" rel="noopener" href="https://onepagelove.com/gmzcodes" aria-label="Visit One Page Love's gmzcodes.com entry">
    <svg viewBox="0 0 46.46 39.33" class="nav__buttonIcon nav__onePageLoveSvg">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
            d="M44.78,14.85,29.18.74v0A14.47,14.47,0,0,0,22.59,6.6h0a.46.46,0,0,0,0,.08s0,0-.05-.08h0c-.55-.95-6-9.9-15.76-5.29C-2.84,5.83-1.65,18,6.8,26.09c7.76,7.42,13.93,12.61,15.73,13.24h0c1.8-.63,8-5.82,15.74-13.24a21.76,21.76,0,0,0,6.5-11.24Z">
          </path>
        </clipPath>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="opl">
          <path class="cls-1"
            d="M44.78,14.85,29.18.74v0A14.47,14.47,0,0,0,22.59,6.6h0a.46.46,0,0,0,0,.08s0,0-.05-.08h0c-.55-.95-6-9.9-15.76-5.29C-2.84,5.83-1.65,18,6.8,26.09c7.76,7.42,13.93,12.61,15.73,13.24h0c1.8-.63,8-5.82,15.74-13.24a21.76,21.76,0,0,0,6.5-11.24Z">
          </path>
          <g class="cls-2">
            <path class="cls-3"
              d="M42.27,17.82c-7.52,0-13.33-5.27-13.33-13.65h2.69A10.66,10.66,0,0,0,42.27,14.82a10.8,10.8,0,0,0,3.27-.52l.92,2.85A13.6,13.6,0,0,1,42.27,17.82Z">
            </path>
          </g>
          <path class="cls-4" d="M29.18.74h0A12.7,12.7,0,0,0,28.9,3.3,12.11,12.11,0,0,0,44.78,14.85Z"></path>
        </g>
      </g>
    </svg>
  </a>

  <button
    id="menuButton"
    class="nav__button nav__menuButton"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Actions Menu">
    <div class="nav__icon"></div>
  </button>

  <div
    id="menu"
    class="nav__menuWrapper"
    aria-labelledby="menuButton">

    <div class="nav__menuScroll">

      <ul class="nav__menu" role="menu">

        <li class="nav__li" role="menuitem">
          <button class="nav__action" id="clear" tabindex="-1">
            <span class="nav__actionTitle">Clear Canvas</span>
            <span class="nav__actionDescription">Get rid of your atrocious creation and try again.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" id="download" tabindex="-1">
            <span class="nav__actionTitle">Download Canvas</span>
            <span class="nav__actionDescription">Get a copy of your masterpiece so that it can live forever.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="ruler" tabindex="-1">
            <span class="nav__actionTitle">Focus Mode</span>
            <span class="nav__actionDescription">Hide all my personal information and focus on your creation.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="vibration" tabindex="-1">
            <span class="nav__actionTitle">Vibration</span>
            <span class="nav__actionDescription">Some additional feedback is always nice.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="sound" tabindex="-1">
            <span class="nav__actionTitle">Accessibility Sound</span>
            <span class="nav__actionDescription">Have you ever heard colors? Try now (better on desktop)!</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <a class="nav__githubLink link__root" tabindex="-1" style="--x-1: 89%; --w-1: 0%; --x-2: 13%; --w-2: 13%; --x-3: 41%; --w-3: 30%;" href="https://github.com/Danziger/gmzcodes" target="_blank" rel="noopener" title="Visit GitHub Repo">
            <img class="nav__githubLinkIcon" src="icons/github-s-e-16.png" aria-hidden="true" />
            <span class="link__underline link__underline--hidden nav__githubLinkUnderline" id="github">GitHub</span>
            <span class="link__linkEffect nav__githubLinkEffect" aria-hidden="true">GitHub</span>
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>
