<nav class="nav__root">
  <a class="link__root nav__logoLink" href="https://gmzcodes.com">
    <img class="nav__logoImg" src="logo/gmzcodes-t-e-64.png" alt="GMZcodes logo" />
    <span class="link__underline link__underline--hidden nav__underline">GMZcodes</span>
    <span class="link__linkEffect nav__linkEffect" aria-hidden="true">GMZcodes</span>
  </a>
</nav>
