<nav class="nav__root">
  <a class="link__root nav__logoLink" href="https://gmzcodes.com">
    <img class="nav__logoImg" src="logo/gmzcodes-t-e-64.png" alt="GMZcodes logo" />
    <span class="link__underline link__underline--hidden nav__underline">GMZcodes</span>
    <span class="link__linkEffect nav__linkEffect" aria-hidden="true">GMZcodes</span>
  </a>

  <button
    id="menuButton"
    class="nav__button"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Actions Menu">
    <div class="nav__icon"></div>
  </button>

  <div
    id="menu"
    class="nav__menuWrapper"
    aria-labelledby="menuButton">

    <div class="nav__menuScroll">

      <ul class="nav__menu" role="menu">

        <li class="nav__li" role="menuitem">
          <button class="nav__action" id="clear" tabindex="-1">
            <span class="nav__actionTitle">Clear Canvas</span>
            <span class="nav__actionDescription">Get rid of your atrocious creation and try again.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" id="download" tabindex="-1">
            <span class="nav__actionTitle">Download Canvas</span>
            <span class="nav__actionDescription">Get a copy of your masterpiece so that it can live forever.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="ruler" tabindex="-1">
            <span class="nav__actionTitle">Focus Mode</span>
            <span class="nav__actionDescription">Hide all my personal information and focus on your creation.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="vibration" tabindex="-1">
            <span class="nav__actionTitle">Vibration</span>
            <span class="nav__actionDescription">Some additional feedback is always nice.</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <button class="nav__action" role="switch" aria-checked="false" id="sound" tabindex="-1">
            <span class="nav__actionTitle">Accessibility Sound</span>
            <span class="nav__actionDescription">Have you ever heard colors? Try now (better on desktop)!</span>
          </button>
        </li>

        <li class="nav__li" role="menuitem">
          <a class="nav__githubLink link__root" style="--x-1: 89%; --w-1: 0%; --x-2: 13%; --w-2: 13%; --x-3: 41%; --w-3: 30%;" href="https://github.com/Danziger/gmzcodes" target="_blank" rel="noopener" title="Visit GitHub Repo">
            <img class="nav__githubLinkIcon" role="img" alt="GitHub retro logo" src="github/github-s-e-16.png" aria-labelledby="github" />
            <span class="link__underline link__underline--hidden nav__githubLinkUnderline" id="github">GitHub</span>
            <span class="link__linkEffect nav__githubLinkEffect" aria-hidden="true">GitHub</span>
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>
